@*@model ExAngularJs.Models.Usuario*@
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<span class="text-muted; text-center">
    <h1>Lorem Ipsum</h1>
</span>
    <p>
        <span class="text-justify">
        </span>
    </p>

