<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <!-- Font Proxima -->
    <link href="/Content/proxima.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link href="/Content/ionicons.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="/Content/AdminLTE.min.css" rel="stylesheet" />
    <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
          page. However, you can choose any other skin. Make sure you
          apply the skin class to the body tag so the changes take effect.
    -->
    @* Angular UI Tree *@
    <link href="/Scripts/angular-ui-tree-master/dist/angular-ui-tree.css" rel="stylesheet" />
    <link href="/Content/skins/skin-blue.min.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="/Scripts/html5shiv.min.js"></script>
    <script src="/Scripts/respond.min.js"></script>
    <![endif]-->
    <link href="/Scripts/plugins/iCheck/all.css" rel="stylesheet" />
    <link href="/Scripts/plugins/timepicker/bootstrap-timepicker.css" rel="stylesheet" />
    <link href="/Content/ui-grid.css" rel="stylesheet" />

    

    <!--JS Files-->
    

    <script src="/Scripts/jquery-3.1.1.min.js"></script>
    <script src="/Scripts/bootstrap-notify-master/bootstrap-notify.min.js"></script>
    <script src="/Scripts/underscore-master/underscore-min.js"></script>
    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <!--Bootstrap-->
    <script src="/Scripts/bootstrap.min.js"></script>
    <!--Angular-->
    <script src="/Scripts/angular.min.js"></script>
    <script src="/Scripts/angular-sanitize.min.js"></script>
    <script src="/Scripts/angular-route.min.js"></script>
    <script src="/Scripts/angular-cookies.js"></script>
    <script src="/Scripts/angular-local-storage-master/dist/angular-local-storage.min.js"></script>
    <script src="/Scripts/angular-underscore-master/angular-underscore.min.js"></script>
    <script src="/app/Directives/iCheck.js"></script>
    <script src="/app/Directives/CanvasThumbnail.js"></script>
    <script src="/Scripts/angular-ui/ui-bootstrap.min.js"></script>
    <script src="/Scripts/ui-grid.min.js"></script>
    <!--Controllers Angular-->
    <script src="/Scripts/plugins/iCheck/icheck.min.js"></script>
    <script src="/app/Directives/FormValidation.js"></script>

    <link href="/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="/Content/ie10-viewport-bug-workaround.css" rel="stylesheet" />
    <link href="/Content/theme.css" rel="stylesheet" />
    <link href="/Content/SearchForm.css" rel="stylesheet" />
    <link href="/Content/proxima.css" rel="stylesheet" />
    <link href="/Content/ionicons.min.css" rel="stylesheet" />
    <link href="/Content/AdminLTE.min.css" rel="stylesheet" />
    <link href="/Scripts/angular-ui-tree-master/dist/angular-ui-tree.css" rel="stylesheet" />
    <link href="/Content/skins/skin-blue.min.css" rel="stylesheet" />
    <link href="/Scripts/plugins/iCheck/all.css" rel="stylesheet" />
    <link href="/Scripts/plugins/timepicker/bootstrap-timepicker.css" rel="stylesheet" />
    <link href="/Content/angular.css" rel="stylesheet" />
    <link href="/Content/slide.and.push.css" rel="stylesheet" />
    <link href="/Content/media.css" rel="stylesheet" />
    <link href="/Content/page.css" rel="stylesheet" />
    <link href="/Content/estat_new.css" rel="stylesheet" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="/Scripts/plugins/select2/select2.min.css" rel="stylesheet" />
    <script src="/app/app.js"></script>

    @* Angular UI Tree *@
    <script src="/Scripts/angular-ui-tree-master/dist/angular-ui-tree.js"></script>

    @RenderSection("CSS", false)
    <style>
        .form-group .help-block {
          display: none;
        }

        .form-group.has-error .help-block {
          display: block;
        }

    </style>
</head>

<body class="hold-transition skin-blue sidebar-mini" ng-app="mainAppGerenciador">
    @RenderSection("Scripts", false)

    <script>
        $(function () {
        });

        function ajaxNotification(notify, tipo) {
            console.log(notify);
            r = notify;

            var $listaErros = $('<div></div>');

            if (angular.isDefined(notify)) {
                if ((typeof notify) == 'string')
                    $listaErros.append('<div>' + notify + '<div>');
                if (!angular.isDefined(notify.ModelState) && angular.isDefined(notify.Message)) {
                    $listaErros.append('<div>' + notify.Message + '<div>');
                }

                for (var key in notify.ModelState) {
                    for (var i in notify.ModelState[key]) {
                        $listaErros.append('<div>' + notify.ModelState[key][i] + '<div>');
                    }
                }
            }
            else if (angular.isDefined(notify.responseText)) {
                $listaNotificacao.append('<div>' + notify.responseText + '<div>');
            }

            var texto = "";
            for (var i = 0; i < $listaErros.length; i++) {
                texto += $listaErros[i].innerHTML;
            }
            $.notify({
                // options
                message: texto
            }, {
                // settings
                type: tipo
            });
        }
    </script>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    <li><a href="http://localhost:11596/Default.html">Inicial</a></li>
                    <li><a href="http://localhost:11596/Campo">Campo (Padrão Portal)</a></li>
                    <li><a href="http://localhost:11596/Home/CadastroUsuario">Usuario</a></li>
                    <!--li><a href="http://localhost:11596/Home/ConsultaUsuario">Consulta</a></li-->
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid ">
        <div class="row content">
            <div class="col-sm-2 sidenav">
            </div>
            <div class="col-sm-8 text-left">
                <br />
                @RenderBody()
            </div>
        </div>
    </div>

    <footer class="container-fluid text-center">
        <p>Rodapé estudo SA</p>
    </footer>

</body>
</html>
